* {
    font-family: helvetica;
}

body {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 15px 20px;
    font-weight: bold;
    border: none;
    transition: background-color linear 0.2s;
}

.btn:hover {
    background-color: #EBF5FF;
    cursor: pointer;
}

.algorithms .btn {
    margin: 0;
}

#sortContainer {
    background-color: #EBF5FF;
    padding: 20px;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.bar {
    position: relative;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    float: left;
    width: 30px;
    text-align: center;
}

.bar:hover {
    box-shadow: 0px 0px 5px #003366;
    cursor: pointer;
}

.bar.normal {
    background-color: #003366;
    color: white;
    font-weight: bold;
}

.bar.highlighted {
    background-color: #00CC99;
    color: white;
    box-shadow: 0px 0px 5px #00CC99
}
